In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
try:
    df = pd.read_csv("AQI_Data.csv")
except FileNotFoundError:
       print("not found")

In [3]:
#Q1
#a) display first 8 rows
print("displaying first 8 rows")
df.head(8)

displaying first 8 rows

,City,Date,AQI,PM2.5,PM10,NO2,CO,O3,SO2
0,Delhi,2024-01-01,152,153,151,26.509131,1.581413,123.401530,25.062474
1,Delhi,2024-01-02,264,288,268,87.955853,1.242119,144.533790,5.926302
2,Delhi,2024-01-03,307,344,357,94.469744,0.101480,198.520196,32.786668
3,Delhi,2024-01-04,363,334,347,12.075618,1.097072,85.973585,7.099955
4,Delhi,2024-01-05,237,266,250,51.046299,1.591834,47.938019,28.140550
5,Delhi,2024-01-06,369,321,327,64.679037,0.423996,22.359803,47.699849
6,Delhi,2024-01-07,365,328,347,44.687485,0.130336,53.869827,15.846146
7,Delhi,2024-01-08,493,513,526,54.565922,0.165338,182.770876,16.645099

In [4]:
# b)display last 5 rows
print("displaying last 5 rows")
df.tail(5)

displaying last 5 rows

,City,Date,AQI,PM2.5,PM10,NO2,CO,O3,SO2
2557,Pune,2024-12-27,419,448,462,26.701714,1.553582,86.973954,44.263423
2558,Pune,2024-12-28,252,202,182,19.920962,1.599821,41.939484,20.545087
2559,Pune,2024-12-29,365,414,410,80.815702,1.919950,39.982167,22.646297
2560,Pune,2024-12-30,253,269,285,66.231614,0.611800,63.966705,10.580135
2561,Pune,2024-12-31,95,140,117,99.505459,0.122817,112.774765,30.814997

In [5]:
# c) show the dtype and number of non-null values of each columns
print("dtypes are")
print(df.dtypes)

print("number of non-null values in each columns")
df.notnull().sum()

dtypes are
City      object
Date      object
AQI        int64
PM2.5      int64
PM10       int64
NO2      float64
CO       float64
O3       float64
SO2      float64
dtype: object
number of non-null values in each columns

City     2562
Date     2562
AQI      2562
PM2.5    2562
PM10     2562
NO2      2562
CO       2562
O3       2562
SO2      2562
dtype: int64

In [6]:
#d) mean aqi , maxpm2.5 , min pm10

def cal(group):
    return pd.Series({
        'mean AQI': np.mean(group['AQI']),
        'Max PM2.5': np.max(group['PM2.5']),
        'Min PM10': np.min(group['PM10'])
    })

result = df.groupby('City').apply(cal)

print(result)

             mean AQI  Max PM2.5  Min PM10
City
Bangalore  279.543716      527.0      -1.0
Chennai    274.314208      530.0     -26.0
Delhi      279.153005      539.0     -17.0
Hyderabad  280.355191      543.0      15.0
Kolkata    265.901639      535.0      -8.0
Mumbai     287.797814      519.0      20.0
Pune       276.379781      532.0       6.0

C:\Users\ankur\AppData\Local\Temp\ipykernel_31832\488955749.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  result = df.groupby('City').apply(cal)

In [7]:
#1 a)
counts = df['City'].value_counts().to_dict()
print("counts ")
counts

counts

{'Delhi': 366,
 'Mumbai': 366,
 'Kolkata': 366,
 'Chennai': 366,
 'Bangalore': 366,
 'Hyderabad': 366,
 'Pune': 366}

In [8]:
#b)
print("total sum")
df['Total Pollutant Concentration'] = df[['PM2.5', 'PM10', 'NO2', 'CO', 'O3', 'SO2']].sum(axis=1)
print(df[['City',  'Total Pollutant Concentration']])

total sum
       City  Total Pollutant Concentration
0     Delhi                     480.554548
1     Delhi                     795.658064
2     Delhi                    1026.878088
3     Delhi                     787.246230
4     Delhi                     644.716701
...     ...                            ...
2557   Pune                    1069.492674
2558   Pune                     468.005355
2559   Pune                     969.364116
2560   Pune                     695.390254
2561   Pune                     500.218038

[2562 rows x 2 columns]

In [9]:
df.to_csv('pollutant.txt', sep='\t', index=False)