In [ ]:
s = "Python Programming"
l=*s # shows error -> can't use starred expression here

In [8]:
a,b,c,d = 10 ,20,30,40
a,b,c,d = d,c,b,a
print(a,b,c,d)

40 30 20 10

In [10]:
n = 0b_0011_0101
n #when you write n = 0b_0011_0101, Python treats it as the binary value 00110101, which is equivalent to the decimal value 53.

53

In [ ]:
set1 = {[n,n+1] for n in range(1,10)} #shows error as list is unhashable

In [ ]:
a = 5
if(a>0):
    print(a)
else:    #incomplete so gives error

In [ ]:
""this is a valid comment"" #error

In [20]:
d1 = dict(Name = "Sachin" , JerseyNo = 10 , Runs = 34347)
for  k in range(len(d1)):
    print(d1)
    d1.popitem()

{'Name': 'Sachin', 'JerseyNo': 10, 'Runs': 34347}
{'Name': 'Sachin', 'JerseyNo': 10}
{'Name': 'Sachin'}

In [25]:
s = "marry had a little lamb"
p1 = s.partition('a')
print(p1)
s1 = s.split('a')
s1

('m', 'a', 'rry had a little lamb')

['m', 'rry h', 'd ', ' little l', 'mb']

In [28]:
for j in range(-5,0):
    for k in range(j,0):
        print("X", end = "-")
    print()

X-X-X-X-X-
X-X-X-X-
X-X-X-
X-X-
X-

In [30]:
l1 = [i+j for i in "abc" for j in "xyz"]
print(l1)
l2 = [[i+j for i in "abc"] for j in "xyz"]
l2

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

[['ax', 'bx', 'cx'], ['ay', 'by', 'cy'], ['az', 'bz', 'cz']]

In [ ]:
def demo_fun(a,s):
    print(s.upper())
    p = a**2
    return p
demo_fun("kumar" , 10)   #eror

In [ ]:
k = 0
while(k<4):
    l = 1234
    p = int(input("Enter password: "))  

    if k < 4:
        if p == l:
            print("Welcome")
            break
        else:
            print(f"{4 - 1 - k} tries left")
    else:
        print("Access denied")
    k+=1    

if k > 3:
    print("Access denied")

Enter password:  4

3 tries left

Enter password:  5

2 tries left

Enter password:  5

1 tries left

In [7]:
a = "RESPONSIBILITY"
a[-2:-7]

''

In [13]:
z = complex(4 , 3)
abs(z)

5.0

In [32]:
s = "ankur"
len(s)
a = 22.0124563
print(f"{a:.2f}")

22.01

In [34]:
105e-2

1.05

In [60]:
l1 = [4,5,6]
print(l1)
l2 = l1
l1[2] = 5
print(l1,l2)
l3 = l1.copy()
l3[0] = 1
print(l3,l1)

[4, 5, 6]
[4, 5, 5] [4, 5, 5]
[1, 5, 5] [4, 5, 5]

In [66]:
S1 = 'Mera IIIT Mahan'
S2 = S1.partition(' ')
print(S2)
type(S2)

('Mera', ' ', 'IIIT Mahan')

tuple

In [68]:
students =("pankaj","rahul","abhinav","devansh","amrit")
marks = (73,56,84,47,66)

comb = tuple(zip(marks, students))
nc = sorted(comb)
nl = [tuple(reversed(i)) for i in nc]
nl

[('devansh', 47),
 ('rahul', 56),
 ('amrit', 66),
 ('pankaj', 73),
 ('abhinav', 84)]

In [73]:
student = {
    "name": "Utkarsh",
    "age": 20,
    "department": "CS"
}

20
None
20

In [4]:
lst = [int(x) for x in input().split()]
type(lst)

 4 5 6 2 3

list

In [21]:
st = {int(x) for x in input().split()}
type(st)
st

  4 65 6 32 2

{2, 4, 6, 32, 65}

In [26]:
tp = (int(x) for x in input().split())
print(tp)

 4 5 6 2 6

<generator object <genexpr> at 0x000002232773AC00>

In [14]:
dict = {int(x) : int(x)**2 for x in input().split()}
dict

 2 4 5 6

{2: 4, 4: 16, 5: 25, 6: 36}

In [41]:
l = 1245633
l = str(l)
b = True
for i in range(len(l)):
 if(l[i] != l[len(l)-i-1]):
     b = False
     break
if(b):
    print('a')
else:
    print("v")

v

In [48]:
l = {1,2}
p = l.pop()
q = l.pop()
o = l.pop()

KeyError: 'pop from an empty set'